# ⚠️ NE PAS COMMIT ! Contient des secrets
export JDBC_DATABASE_URL='jdbc:postgresql://ep-fragrant-violet-abvnwmuc-pooler.eu-west-2.aws.neon.tech/API%20lol%20public?user=neondb_owner&password=********&sslmode=require'

export RIOT_API_KEY='RGAPI-bcda1c93-34ea-4da9-abf6-2059a236d4c5'
export RIOT_ROUTER='europe'   # americas | asia | europe
# Filtres de files (queues) : classé SR par défaut (Solo/Duo + Flex)
export QUEUES='420,440'
# Optionnel : type global (peut s'ajouter au queue)
# export TYPE='ranked'

# Cible initiale (tu peux changer à la volée)
export GAME_NAME='GW Fara'
export TAG_LINE='#EUW'
export COUNT='10'